.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #000;

}

.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 60px;
  padding: 2rem;
}

.header_nav a img {
  width: 50px;
}

.header_list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.header_list li {
  margin-left: 1.75rem;
  cursor: pointer;
  font-weight: 600;
}

.header_list li a {
  text-decoration: none;

}

