<header class="header">
  <nav class="header_nav">
    <a routerLink="">
      <img
        src="https://i5.walmartimages.com/asr/a89ed403-fd86-4332-8efc-fdd96f1af74d.c9ebf9f1ed9c6f26964513ae14595c9d.png"
        alt="Rick and Morty Logo"
      />
    </a>
    <ul class="header_list">
      <li><a href="https://github.com/jhops10" target="_blank">GitHub</a></li>
      <li>
        <a href="https://www.linkedin.com/in/joaowais/" target="_blank"
          >LinkedIn</a
        >
      </li>
    </ul>
  </nav>
</header>
