<app-header> </app-header>
<!-- input de pesquisa -->
<div class="form">
  <input
    [(ngModel)]="searchTerm"
    class="search-input"
    type="text"
    placeholder="Pesquisar por Personagem"
  />
  <button (click)="search()">Search</button>
</div>
<!-- input de pesquisa -->
<div class="characters-container">
  <div class="character" *ngFor="let character of data">
    <app-character
      [src]="character.image"
      [name]="character.name"
      [status]="character.status"
      [gender]="character.gender"
      [location]="character.location.name"
    ></app-character>
  </div>
</div>
<div class="buttons-container">
  <button (click)="loadMore()">Load More</button>
</div>
