/* .characters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: .5rem;
  margin: 1.5rem 0;
  max-width: 90%;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
}

.buttons-container button {
  background: transparent;
  border: 1px solid #000;
  border-radius: 5px;
  padding: .5rem 1.5rem;
  cursor: pointer;
  transition-duration: 100ms;
  font-weight: bold;
}

.buttons-container button:hover {
  scale: 1.1;
} */

.characters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1.5rem 4rem;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
}

.buttons-container button {
  background: transparent;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  transition-duration: 100ms;
  font-weight: bold;
}

.buttons-container button:hover {
  transform: scale(1.1);
  /* Corrigido de 'scale' para 'transform' */
}
