<!-- banner -->
<div class="banner">
  <img
    src="https://tldrmoviereviewsblog.files.wordpress.com/2020/05/promortyus-banner.jpg"
    alt=""
  />
</div>
<!-- banner -->
<!-- input de pesquisa -->
<p class="form-text">Pesquisar Personagem</p>
<div class="form">
  <input
    [(ngModel)]="searchTerm"
    class="search-input"
    type="text"
    placeholder="Pesquisar..."
  />
  <button (click)="searchByName()">Buscar</button>
</div>
<!-- input de pesquisa -->
<div class="characters-container">
  <div
    class="character"
    *ngFor="let character of searchData.length > 0 ? searchData : data"
  >
    <app-character
      class="pointer"
      routerLink="details/{{ character.id }}"
      [src]="character.image"
      [name]="character.name"
      [status]="character.status"
      [gender]="character.gender"
      [location]="character.location.name"
    ></app-character>
  </div>
</div>
<div class="buttons-container">
  <button (click)="loadMore()" *ngIf="searchData.length === 0">Mais...</button>
  <button (click)="resetSearch()" *ngIf="searchData.length > 0">
    Resetar Busca
  </button>
</div>
