.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .3rem;
  margin: 1.5rem;
}

.form button {
  padding: .5rem;
  border-left: none;
  background-color: #CAE770;
  border-radius: 5px;
  border: 1px solid #000;
  font-weight: bold;
  cursor: pointer;


}

.search-input {
  padding: .5rem;
  outline: none;
  border: 1px solid #000;
  width: 250px;
  border-radius: 5px;

}

.characters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1.5rem 4rem;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
}

.buttons-container button {
  background: #CAE770;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  transition-duration: 100ms;
  font-weight: bold;
}


